In [1]:
import pandas as pd
import numpy as np
student=pd.read_csv("/content/StudentsPerformance.csv")

In [2]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [3]:
student.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
student.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
male_female=student.groupby('gender')['gender'].count()
print(male_female)

gender
female    518
male      482
Name: gender, dtype: int64

In [13]:
student ['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [12]:
mean_math=student.groupby('gender')['math score'].mean()

In [14]:
print(mean_math)

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

In [18]:
mean_math_test_preparation = student.groupby(['gender','test preparation course'])['math score'].mean()
print(mean_math_test_preparation)

gender  test preparation course
female  completed                  67.195652
        none                       61.670659
male    completed                  72.339080
        none                       66.688312
Name: math score, dtype: float64

In [19]:
student['math score'].unique()

array([ 72,  69,  90,  47,  76,  71,  88,  40,  64,  38,  58,  65,  78,
        50,  18,  46,  54,  66,  44,  74,  73,  67,  70,  62,  63,  56,
        97,  81,  75,  57,  55,  53,  59,  82,  77,  33,  52,   0,  79,
        39,  45,  60,  61,  41,  49,  30,  80,  42,  27,  43,  68,  85,
        98,  87,  51,  99,  84,  91,  83,  89,  22, 100,  96,  94,  48,
        35,  34,  86,  92,  37,  28,  24,  26,  95,  36,  29,  32,  93,
        19,  23,   8])

In [20]:
print(student.groupby('gender')['math score'].describe())

        count       mean        std   min   25%   50%   75%    max
gender
female  518.0  63.633205  15.491453   0.0  54.0  65.0  74.0  100.0
male    482.0  68.728216  14.356277  27.0  59.0  69.0  79.0  100.0

In [21]:
groups = pd.cut(student['math score'], bins=4)
groups

0       (50.0, 75.0]
1       (50.0, 75.0]
2      (75.0, 100.0]
3       (25.0, 50.0]
4      (75.0, 100.0]
           ...
995    (75.0, 100.0]
996     (50.0, 75.0]
997     (50.0, 75.0]
998     (50.0, 75.0]
999    (75.0, 100.0]
Name: math score, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-0.1, 25.0] < (25.0, 50.0] < (50.0, 75.0] <
                                           (75.0, 100.0]]

In [23]:
student.groupby(groups)['math score'].count()

math score
(-0.1, 25.0]       7
(25.0, 50.0]     143
(50.0, 75.0]     576
(75.0, 100.0]    274
Name: math score, dtype: int64

In [24]:
pd.crosstab(groups, student['gender'])

gender         female  male
math score
(-0.1, 25.0]        7     0
(25.0, 50.0]       90    53
(50.0, 75.0]      309   267
(75.0, 100.0]     112   162

In [25]:
import statistics as st

In [26]:
data =[1,2,3,4,5,6]

In [27]:
st.mean(data)

3.5

In [28]:
st.mode(data)

1

In [29]:
data1=[1,2,7,5,4,7,8,2,1,7]
st.mode(data1)

7

In [30]:
st.variance(data1)

7.6

In [31]:
df=pd.DataFrame(data1)

In [32]:
df.mean()

0    4.4
dtype: float64

In [33]:
df.mode()

   0
0  7

In [34]:
df.median()

0    4.5
dtype: float64